[submodule "opentitan"]
	path = opentitan
	url = https://github.com/lowRISC/opentitan
[submodule "FE310"]
	path = FE310
	url = https://github.com/sifive/freedom
[submodule "RedBoard"]
	path = RedBoard
	url = https://github.com/sparkfun/Red_V
[submodule "PicoRio"]
	path = PicoRio
	url = https://github.com/YosysHQ/picorv32
[submodule "Ariane"]
	path = Ariane
	url = https://github.com/openhwgroup/cva6
[submodule "blackparrot"]
	path = blackparrot
	url = https://github.com/black-parrot/black-parrot
[submodule "CVA6"]
	path = CVA6
	url = https://github.com/openhwgroup/cva6
[submodule "VexRiscv"]
	path = VexRiscv
	url = https://github.com/SpinalHDL/VexRiscv
[submodule "NEORV32"]
	path = NEORV32
	url = https://github.com/stnolting/neorv32
[submodule "riscvboom"]
	path = riscvboom
	url = https://github.com/riscv-boom/riscv-boom
[submodule "cv32e40p"]
	path = cv32e40p
	url = https://github.com/openhwgroup/cv32e40p
[submodule "Ibex"]
	path = Ibex
	url = https://github.com/lowRISC/ibex
[submodule "Scr1"]
	path = Scr1
	url = https://github.com/syntacore/scr1
[submodule "litexfpga"]
	path = litexfpga
	url = https://github.com/enjoy-digital/litex
